<p style="font-size: 13px;">Hello <%= @user.first_name %> <%= @user.last_name %>, Property address with "<%= @property.address %>" has just recieved a bid.</p>
<b>
  Hello <%= @user.first_name %>,
</b>
<p style="font-size: 13px;">
  Congratulations!!!  Your property recieved highest bid that is over your asking price by contacting the bidder(s) directly from your profile at AuctionMyDeal.com.
</p>
<p style="font-size: 13px;">
  The honorable thing to do is to accept your Highest & Best offer unless you want to accept a cash offer over a bidder who is using financing.
</p>
<p style="font-size: 13px;">
  It is your responsibility to:
</p>
<ul>
  <li style="font-size: 13px;">
    Verify buyer has inspected the property or show them property.
  </li>
  <li style="font-size: 13px;">
    Verify their proof of funds and/or Hard Money pre-approval.
  </li>
  <li style="font-size: 13px;">
    Verify that your property has clear title.
  </li>
  <li style="font-size: 13px;">
    Get buyer to sign your Sales or Assignment Contract and open title.
  </li>
  <li style="font-size: 13px;">
    Get property closed on time and get paid…:)
  </li>
</ul>

<p style="font-size: 13px;">
  Please let us know if you have any questions or need any help in getting your property closed?
</p>

<p style="font-size: 13px;">
  We pride ourselves on going the extra yard for our members and are always happy to help you!
</p>

<p style="font-size: 13px;">
  Best Wishes in getting Your Deal Closed!
</p>

<p style="font-size: 13px; margin: 0px;">
  Your Support Team @
</p>
<p style="font-size: 13px; margin: 0px;">
  AuctionMyDeal.com
</p>

<p style="font-size: 13px;">
  P.S.: Please let us know if you have any questions or suggestions? <%= link_to "Click HERE", "#{APP_CONFIG['site_url']}/help-and-faq", style: 'color: #28608f;', style: 'color: #28608f;' %>
</p>
