<p style="font-size: 13px;">Hello <%= @user.first_name %> <%= @user.last_name %>, Your Bid on Property address with "<%= @property.address %>" is accepted and is in pendind status by <%= @owner.first_name %> <%= @owner.last_name %> </p>
